//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Component
// ========================================================================


body {
	background:#ffffff;
	overflow-x: hidden;
	color: $black;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 30px;
	font-family:$avenir_medium;
}

a {
	@include transition(.6s);
}

video::-webkit-media-controls {
	display: none !important;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

