//
// Name:            Buttons
//
// Description:     Contains all button styles
//

// ========================================================================
// Component
// ========================================================================


.btn {
	display:inline-block;
	color: $red;
	font-family:$avenir_bold;
	font-size: 18px;
	height: 50px;
	padding:0 30px;
	border-radius: 100px;
	width: auto;
	text-align: center;
	line-height: 44px;
	position: relative;
	transform: perspective(1px) translateZ(0);
	transition: .5s;
	border: 4px solid #ED3024;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		border-radius:100px;
		background-color: $red;
		transform: scaleX(0);
		transition: transform .5s;
		transition-timing-function: ease-out;
	}
	&:hover {
		color:#fff;

		&:before {
			transform: scaleX(1);
			transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		}
	}
}

.scroll-btn {
	display:inline-block;
	position:absolute;
	bottom:-140px;
	left:50%;
	width:100px;
	height:100px;
	z-index:9999999;
	transform:translate(-50%, 0);

	&:hover {

		.ring {
			transform:rotate(360deg);
		}
	}
	.ring {
		display:inline-block;
		position:absolute;
		top:0;
		left:0;
		width:100px;
		height:100px;
		background:url(../images/down-ring.png) 50% no-repeat;
		transform:rotate(0deg);
		transition:.6s;
		transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	}
	.arrow {
		display:inline-block;
		position:absolute;
		top:0;
		left:0;
		width:100px;
		height:100px;
		background:url(../images/down-arrow.png) 50% no-repeat;
	}
}


@media only screen and (max-width: 568px) and (min-width: 1px) {

}
