//
// Name:            Fonts
//
// Description:     Contains all fonts
//


// ========================================================================
// Component: Fonts
// ========================================================================


@font-face {
    font-family: 'AvenirNextMediumItalic';
    src: url('../fonts/AvenirNextMediumItalic.eot');
    src: url('../fonts/AvenirNextMediumItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextMediumItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextMediumItalic.woff') format('woff'),
         url('../fonts/AvenirNextMediumItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextMediumItalic.svg#AvenirNextMediumItalic') format('svg');
}

@font-face {
    font-family: 'AvenirNextUltraLight';
    src: url('../fonts/AvenirNextUltraLight.eot');
    src: url('../fonts/AvenirNextUltraLight.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextUltraLight.woff2') format('woff2'),
         url('../fonts/AvenirNextUltraLight.woff') format('woff'),
         url('../fonts/AvenirNextUltraLight.ttf') format('truetype'),
         url('../fonts/AvenirNextUltraLight.svg#AvenirNextUltraLight') format('svg');
}

@font-face {
    font-family: 'AvenirNextHeavy';
    src: url('../fonts/AvenirNextHeavy.eot');
    src: url('../fonts/AvenirNextHeavy.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextHeavy.woff2') format('woff2'),
         url('../fonts/AvenirNextHeavy.woff') format('woff'),
         url('../fonts/AvenirNextHeavy.ttf') format('truetype'),
         url('../fonts/AvenirNextHeavy.svg#AvenirNextHeavy') format('svg');
}

@font-face {
    font-family: 'AvenirNextMedium';
    src: url('../fonts/AvenirNextMedium.eot');
    src: url('../fonts/AvenirNextMedium.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextMedium.woff2') format('woff2'),
         url('../fonts/AvenirNextMedium.woff') format('woff'),
         url('../fonts/AvenirNextMedium.ttf') format('truetype'),
         url('../fonts/AvenirNextMedium.svg#AvenirNextMedium') format('svg');
}

@font-face {
    font-family: 'AvenirNextBoldItalic';
    src: url('../fonts/AvenirNextBoldItalic.eot');
    src: url('../fonts/AvenirNextBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextBoldItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextBoldItalic.woff') format('woff'),
         url('../fonts/AvenirNextBoldItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextBoldItalic.svg#AvenirNextBoldItalic') format('svg');
}

@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../fonts/AvenirNextRegular.eot');
    src: url('../fonts/AvenirNextRegular.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextRegular.woff2') format('woff2'),
         url('../fonts/AvenirNextRegular.woff') format('woff'),
         url('../fonts/AvenirNextRegular.ttf') format('truetype'),
         url('../fonts/AvenirNextRegular.svg#AvenirNextRegular') format('svg');
}

@font-face {
    font-family: 'AvenirNextUltraLightItalic';
    src: url('../fonts/AvenirNextUltraLightItalic.eot');
    src: url('../fonts/AvenirNextUltraLightItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextUltraLightItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextUltraLightItalic.woff') format('woff'),
         url('../fonts/AvenirNextUltraLightItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextUltraLightItalic.svg#AvenirNextUltraLightItalic') format('svg');
}

@font-face {
    font-family: 'AvenirNextDemiBoldItalic';
    src: url('../fonts/AvenirNextDemiBoldItalic.eot');
    src: url('../fonts/AvenirNextDemiBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextDemiBoldItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextDemiBoldItalic.woff') format('woff'),
         url('../fonts/AvenirNextDemiBoldItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextDemiBoldItalic.svg#AvenirNextDemiBoldItalic') format('svg');
}

@font-face {
    font-family: 'AvenirNextDemiBold';
    src: url('../fonts/AvenirNextDemiBold.eot');
    src: url('../fonts/AvenirNextDemiBold.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextDemiBold.woff2') format('woff2'),
         url('../fonts/AvenirNextDemiBold.woff') format('woff'),
         url('../fonts/AvenirNextDemiBold.ttf') format('truetype'),
         url('../fonts/AvenirNextDemiBold.svg#AvenirNextDemiBold') format('svg');
}

@font-face {
    font-family: 'AvenirNextHeavyItalic';
    src: url('../fonts/AvenirNextHeavyItalic.eot');
    src: url('../fonts/AvenirNextHeavyItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextHeavyItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextHeavyItalic.woff') format('woff'),
         url('../fonts/AvenirNextHeavyItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextHeavyItalic.svg#AvenirNextHeavyItalic') format('svg');
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('../fonts/AvenirNextBold.eot');
    src: url('../fonts/AvenirNextBold.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextBold.woff2') format('woff2'),
         url('../fonts/AvenirNextBold.woff') format('woff'),
         url('../fonts/AvenirNextBold.ttf') format('truetype'),
         url('../fonts/AvenirNextBold.svg#AvenirNextBold') format('svg');
}

@font-face {
    font-family: 'AvenirNextItalic';
    src: url('../fonts/AvenirNextItalic.eot');
    src: url('../fonts/AvenirNextItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextItalic.woff') format('woff'),
         url('../fonts/AvenirNextItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextItalic.svg#AvenirNextItalic') format('svg');
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson-text-regular.eot'),
         url('../fonts/crimson-text-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson-text-regular.woff2') format('woff2'),
         url('../fonts/crimson-text-regular.woff') format('woff'),
         url('../fonts/crimson-text-regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Italic';
    src: url('../fonts/crimson-text-italic.eot'),
         url('../fonts/crimson-text-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson-text-italic.woff2') format('woff2'),
         url('../fonts/crimson-text-italic.woff') format('woff'),
         url('../fonts/crimson-text-italic.ttf') format('truetype');
    font-style: normal;
}
