//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================

// ========================================================================
// Component: Variables
// ========================================================================


// Fonts
$avenir:'AvenirNextRegular';
$avenir_medium:'AvenirNextMedium';
$avenir_light:'AvenirNextUltraLight';
$avenir_bold:'AvenirNextBold';
$avenir_demi_bold:'AvenirNextDemiBold';

$avenir_italic:'AvenirNextItalic';
$avenir_medium_italic:'AvenirNextMediumItalic';
$avenir_light_italic:'AvenirNextUltraLightItalic';
$avenir_bold_italic:'AvenirNextBoldItalic';
$avenir_demi_bold_italic:'AvenirNextDemiBoldItalic';

$crimson:'Crimson';
$crimson_italic:'Crimson Italic';

// Colors
$red:#ED3024;
$black:#000000;
$blue:#36EDFF;

// Forms
$form-field-border-radius:0;
$form-field-background:#fff;
$form-field-border:2px solid $blue;
$form-field-font-size:24px;
$form-field-color:$black;
$form-field-padding:0 20px;
$form-field-height:60px;
