//
// Name:            Footer
//
// Description:     Contains all footer styles
//

// ========================================================================
// Component: Footer
// ========================================================================


.page-view {
	position:fixed;
	width:auto;
	bottom:20px;
	left:50px;
	z-index:999;
	padding-bottom:20px;
	opacity:0;
	transform:scale(0);
	transition:.3s;

	&.on {
		opacity:1;
		transform:scale(1);
	}
	.full-page {
		display:inline-block;
		width:30px;
		height:30px;
		border:3px solid $black;
		background-color: rgba(0, 0, 0, 0.5);
		margin-right:20px;

		&.active {
			background:transparent;
		}
	}
	.col-page {
		display:inline-block;
		position:relative;
		width:62px;
		height:14px;

		&:before {
			background-color: rgba(0, 0, 0, 0.5);
			display:inline-block;
			width:14px;
			height:14px;
			position:absolute;
			content:'';
			top:0;
			left:0;
			border:3px solid $black;
		}
		&:after {
			background-color: rgba(0, 0, 0, 0.5);
			display:inline-block;
			width:14px;
			height:14px;
			position:absolute;
			content:'';
			top:0;
			right:0;
			border:3px solid $black;
		}
		span {
			display:inline-block;
			position:relative;
			width:100%;
			vertical-align:top;

			&:before {
				background-color: rgba(0, 0, 0, 0.5);
				display:inline-block;
				width:14px;
				height:14px;
				position:absolute;
				content:'';
				top:0;
				left:16px;
				border:3px solid $black;
			}
			&:after {
				background-color: rgba(0, 0, 0, 0.5);
				display:inline-block;
				width:14px;
				height:14px;
				position:absolute;
				content:'';
				top:0;
				right:16px;
				border:3px solid $black;
			}
		}
		&.active {

			&:before,
			&:after,
			span:before,
			span:after {
				background:transparent;
			}
		}
	}
}

.footer-nav {
	position:fixed;
	width:auto;
	bottom:20px;
	right:50px;
	z-index:999;
	padding-bottom:20px;
	opacity:0;
	transform:scale(0);
	transition:.3s;

	&.on {
		opacity:1;
		transform:scale(1);
	}
	ul.nav {
		list-style: none;
		margin: 0;
		padding: 0;
		justify-content: flex-end;
		font-size:0;

		li {
			display: inline-block;
			width:auto;
			margin:0 15px;

			&:first-child {
				margin:0 15px 0 0;
			}
			&:nth-child(3) {
				margin:0 0 0 15px;
			}
			a {
				display:inline-block;
				position:relative;
				font-size: 18px;
				line-height: 50px;
				color:$black;
				font-family:$avenir_bold;

				&:hover {
					color:$red;
				}
			}
			&.menu-line {
				position:absolute;
				bottom:20px;
				left:0;
				width:0;
				height:4px;
				background:$black;
				transition:.6s;
				margin:0;
			}
		}
	}
}


@media only screen and (max-width: 1024px) and (min-width: 1px) {

}
