//
// Name:            Header
//
// Description:     Contains all header styles
//

// ========================================================================
// Component: Header
// ========================================================================


.logo {
	display:inline-block;
	position:fixed;
	top:25px;
	left:50px;
	width:65px;
	height:74px;
	margin:0;
	z-index:9999;
	overflow: hidden;
	vertical-align:top;

	a {
		display:inline-block;
		width:65px;
		height:74px;
		//background-image: url(../images/logo.png);
		//background-repeat: no-repeat;
	}
	span {
		display:inline-block;
		text-indent:-9999px;
	}
	.line1 {
		position:absolute;
		top:0;
		left:0;
		width:65px;
		height:74px;
		background:url(../images/line1.png) 0 0 no-repeat;
		transition:.6s;
		transform:rotate(0deg);
		transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	}
	.line2 {
		position:absolute;
		top:0;
		left:0;
		width:65px;
		height:74px;
		background:url(../images/line2.png) 0 0 no-repeat;
		transition:.6s;
		transform:rotate(0deg);
		transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	}
	.line3 {
		position:absolute;
		top:0;
		left:0;
		width:65px;
		height:74px;
		background:url(../images/line3.png) 0 0 no-repeat;
		transition:.6s;
		transform:rotate(0deg);
		transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	}
	.line4 {
		position:absolute;
		top:0;
		left:0;
		width:65px;
		height:74px;
		background:url(../images/line4.png) 0 0 no-repeat;
		transition:.6s;
		transform:rotate(0deg);
		transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	}
	.line5 {
		position:absolute;
		top:0;
		left:0;
		width:65px;
		height:74px;
		background:url(../images/line5.png) 0 0 no-repeat;
		transition:.6s;
		transform:rotate(0deg);
		transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	}
	&:hover {

		.line1,
		.line3,
		.line5, {
			transform:rotate(180deg);
		}
		.line2,
		.line4 {
			transform:rotate(-180deg);
		}
	}
}
.btn {
	position:fixed;
	top:35px;
	right:50px;
	z-index:9999;
	transform:scale(0);
	opacity:0;
	transition:.3s;

	&.on {
		transform:scale(1);
		opacity:1;
	}
}


@media only screen and (max-width: 880px) and (min-width: 1px) {
	.logo {
		position:absolute;
		left:30px;
	}
	.form-btn {
		position:absolute;
		right:20px;
	}
}

