//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Home Page
// ========================================================================


#full-page {
	display:block;
}

#col-page {
	display:none;
	position:relative;
	padding:140px 0 80px 0;

	.scroll-btn {
		bottom:-140px;
	}
	.title {
		color: $black;
		font-family: $avenir_bold;
		font-size: 14px;
		letter-spacing: 3px;
		line-height: 50px;
		text-align:center;
		text-transform: uppercase;
		padding-top:40px;
		padding-bottom:20px;	
	}
	.benefit {

		h2 {
			color:$black;
			font-family: $avenir_bold;
			font-size: 32px;
			line-height: 74px;
		}
		.thumb {
			display:block;
			width:100%;
			height:260px;
			background-position:50%;
			background-repeat:repeat;
			background-size:cover !important;
		}
		.copy {
			display:inline-block;
			width:100%;

			h3 {
				color: $black;
				font-family: $crimson_italic;
				font-size: 20px;
				line-height: 30px;
				margin-top:30px;
			}
			p {
				color: $black;
				font-size: 14px;
				line-height: 28px;
			}
		}
	}
}

.sticky-nav {
	position:fixed;
	top:50%;
	left:-100px;
	z-index:999;
	width:20px;
	height:auto;
	transform:translate(0, -50%);
	transition:.6s;
	opacity:0;

	&.on {
		opacity:1;
		left:30px;
	}
	&.off {
		left:-100px;
	}
	ul {
		list-style:none;
		padding:0;
		margin:0;

		li {
			display:inline-block;
			position:relative;
			vertical-align:top;
			width:100%;
			margin:0 0 15px 0;

			a {
				display:inline-block;
				width:100%;
				font-family: $crimson_italic;
				font-size: 18px;
				line-height: 20px;
				letter-spacing: 2px;
				color:$black;

				&:hover {
					color:$red;
				}
			}
			&.active a {
				color:$red;

				&:before {
					position:absolute;
					content:'';
					left:-15px;
					top:50%;
					width:5px;
					height:5px;
					border-radius:5px;
					background:$red;
					transform:translate(0, -50%);
					transition:.6s;
				}
			}
			&.marker {
				background:url(../images/marker.png) 50% no-repeat;

				a {
					text-indent:-9999px;
				}
				&.active {
					background:url(../images/marker-on.png) 50% no-repeat;
				}
			}
		}
	}
}

.float-dot1 {
	position:absolute;
	top:880px;
	left:100px;
	width:250px;
	height:250px;
	line-height:250px;
	z-index:99999;
	color:$red;
	font-size:1850px;
	mix-blend-mode: multiply;
}

.float-dot2 {
	position:absolute;
	top:10%;
	left:15%;
	width:60px;
	height:60px;
	line-height:60px;
	z-index:99999;
	color:$red;
	font-size:450px;
	mix-blend-mode: multiply;
}

.left-gray {
	position:absolute;
	top:0;
	left:0;
	width:827px;
	height:800px;
	z-index:1;
	background:url(../images/gradient-left.png) top left no-repeat;
}
.right-gray {
	position:absolute;
	top:0;
	right:0;
	width:827px;
	height:800px;
	z-index:1;
	background:url(../images/gradient-right.png) top left no-repeat;
}

.photo {
	display:inline-block;
	position:absolute;
	top:50%;
	width:555px;
	height:555px;
	z-index:99;
	background-position:50%;
	background-repeat:no-repeat;
	background-size:cover !important;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
	transform:translate(0, -50%);
}

#hero {
	position:relative;
	width:100%;
	height:auto;
	min-height:780px;
	max-height:780px;

	.wrapper {
		position:relative;
		height:100%;
		min-height:780px;
	}
	.photo {
		right:0;
		transform:translate(0, -50%) scale(0);
		opacity:0;
		transition:.3s;

		&.on {
			transform:translate(0, -50%) scale(1);
			opacity:1;			
		}
	}
	.cnt {
		position:absolute;
		top:50%;
		left:50%;
		z-index:999;
		text-align:center;
		transform:translate(-50%, -50%);

		h1 {
			color: $black;
			font-family:$avenir_bold;
			font-size: 160px;
			line-height: 80px;
			transform:scale(0);
			opacity:0;
			transition:.3s;
			transition-delay:.9s;
		}
		p {
			color: $black;
			font-family:$crimson_italic;
			font-size: 32px;
			line-height: 80px;
			transform:scale(0);
			opacity:0;
			transition:.3s;
			transition-delay:1.1s;
		}
		h1.on {
			transform:scale(1);
			opacity:1;
		}
		p.on {
			transform:scale(1);
			opacity:1;
		}
	}
	.link {
		position:absolute;
		top:560px;
		left:100px;
		z-index:9;
		color: $red;
		font-family: $avenir_bold;
		font-size: 18px;
		line-height: 60px;
		transition:.3s;
		opacity:0;
		transform:scale(0);

		&.on {
			opacity:1;
			transform:scale(1);
		}
		span {
			position:relative;
			z-index:99;
		}
		&:after {
			position:absolute;
			content:'';
			bottom:0;
			right:0;
			width:100%;
			height:4px;
			background:$red;
			transition:.3s;
		}
		&:before {
			position:absolute;
			content:'';
			bottom:0;
			left:0;
			width:0;
			height:4px;
			background:$black;
			transition:.3s;
		}
		&:hover {
			color:$black;
		}
		&:hover:after {
			width:0;
		}
		&:hover:before {
			width:100%;
		}
	}
	.dot1 {
		position:absolute;
		top:200px;
		left:70px;
		width:130px;
		height:130px;
		border-radius:130px;
		background:$red;
		z-index:99;
		transform:scale(0);
		opacity:0;			
		transition:.3s;
		transition-delay:.3s;

		&.on {
			transform:scale(1);
			opacity:1;			
		}
	}
	.dot2 {
		position:absolute;
		top:450px;
		left:180px;
		width:60px;
		height:60px;
		border-radius:60px;
		background:$red;
		z-index:99;
		transform:scale(0);
		opacity:0;			
		transition:.3s;
		transition-delay:.5s;

		&.on {
			transform:scale(1);
			opacity:1;			
		}
	}
	.dot3 {
		position:absolute;
		top:200px;
		right:50px;
		width:60px;
		height:60px;
		border-radius:60px;
		z-index:999;
		background:$red;
		transform:scale(0);
		opacity:0;			
		transition:.3s;
		transition-delay:.7s;

		&.on {
			transform:scale(1);
			opacity:1;			
		}
	}
	.dot4 {
		display:none;
		position:absolute;
		top:420px;
		right:120px;
		width:15px;
		height:15px;
		border-radius:15px;
		background:$blue;
		z-index:99;
		opacity:0;			
		transition:.3s;
		transition-delay:.6s;

		&.on {
			transform:scale(1);
			opacity:1;			
		}
	}
	.hero-scroll {
		display:inline-block;
		position:absolute;
		left:50%;
		bottom:-80px;
		width:330px;
		height:330px;
		z-index:9;
		transform:translate(-50%, 0) scale(0);
		opacity:0;
		transition:.3s;

		&.on {
			opacity:1;
			transform:translate(-50%, 0) scale(1);
		}
		&:hover {

			.ring1.rotate {
				transform:rotate(180deg);
				transition:.6s;
			}
			.ring2.rotate {
				transform:rotate(-180deg);
				transition:.6s;
			}
			.ring3.rotate {
				transform:rotate(180deg);
				transition:.6s;
			}
			.ring4.rotate {
				transform:rotate(-180deg);
				transition:.6s;
			}
			.ring5.rotate {
				transform:rotate(180deg);
				transition:.6s;
			}
		}
		.ring1 {
			position:absolute;
			top:0;
			left:0;
			width:330px;
			height:330px;
			background:url(../images/ring1.png) 0 0 no-repeat;
			transition:2.6s;
			transform:rotate(180deg);
			transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

			&.rotate {
				transform:rotate(0deg);
			}
		}
		.ring2 {
			position:absolute;
			top:0;
			left:0;
			width:330px;
			height:330px;
			background:url(../images/ring2.png) 0 0 no-repeat;
			transition:2.6s;
			transform:rotate(-180deg);
			transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

			&.rotate {
				transform:rotate(0deg);
			}
		}
		.ring3 {
			position:absolute;
			top:0;
			left:0;
			width:330px;
			height:330px;
			background:url(../images/ring3.png) 0 0 no-repeat;
			transition:2.6s;
			transform:rotate(180deg);
			transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

			&.rotate {
				transform:rotate(0deg);
			}
		}
		.ring4 {
			position:absolute;
			top:0;
			left:0;
			width:330px;
			height:330px;
			background:url(../images/ring4.png) 0 0 no-repeat;
			transition:2.6s;
			transform:rotate(-180deg);
			transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

			&.rotate {
				transform:rotate(0deg);
			}
		}
		.ring5 {
			position:absolute;
			top:0;
			left:0;
			width:330px;
			height:330px;
			background:url(../images/ring5.png) 0 0 no-repeat;
			transition:2.6s;
			transform:rotate(180deg);
			transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

			&.rotate {
				transform:rotate(0deg);
			}
		}
		.arrow {
			position:absolute;
			top:0;
			left:0;
			width:330px;
			height:330px;
			background:url(../images/hero-down.png) 50% no-repeat;			
		}		
	}
}

.split-section .wrapper {
	position:relative;
	opacity:0;
	top:120px;
	transition:.6s;
}
.split-section.on .wrapper {
	opacity:1;
	top:0;
}

.section {
	position:relative;
	width:100%;
	height:auto;
	min-height:780px;
	max-height:780px;

	.wrapper, .row {
		height:100%;
		min-height:780px;
	}
	.content {
		position:absolute;
		//top:50%;
		padding:0 80px;
		z-index:999;
		//transform:translate(0, -50%);

		.number {
			position:relative;
			z-index:99;
			color: $blue;
			font-family:$crimson_italic;
			font-size: 100px;
			line-height: 14px;
			text-indent:-50px;		
		}
		h1 {
			color: $black;
			font-family:$avenir_bold;
			font-size: 100px;
			line-height: 48px;
			white-space:nowrap;

			&.indent {
				text-indent:-170px;
			}
		}
		h2 {
			color:$black;
			font-family: $crimson_italic;
			font-size: 32px;
			line-height: 40px;
			margin:40px 0 0 0;
		}
		p {
			margin:10px 0 0 0;
		}
		.half {
			width:50%;
		}
	}
}

.location-section {
	margin-top:120px;
	height:600px;
	min-height:600px;

	.col-xs-6 {
		padding:0;
	}
	.location {
		background:$blue;
		position:relative;
		min-height:600px;

		.cnt {
			position:absolute;
			top:50%;
			right:330px;
			width:auto;
			transform:translate(0, -50%);

			h1 {
				color: $black;
				font-family:$avenir_bold;
				font-size: 64px;
				line-height: 80px;
				margin:0;
			}
			.title {
				color: #ffffff;
				font-family:$avenir_bold;
				font-size: 14px;
				letter-spacing: 3px;
				line-height: 50px;
				text-transform: uppercase;
				margin:0;
			}
			p {
				color: $black;
				font-family:$crimson_italic;
				font-size: 32px;
				line-height: 40px;
				margin:0;
			}
			.social {
				list-style:none;
				padding:0;
				margin:30px 0 0 0;

				li {
					display:inline-block;
					width:30px;
					height:30px;
					margin-right:20px;

					a {
						display:inline-block;
						width:30px;
						height:30px;
						text-indent:-9999px;
					}
					&.facebook {
						background:url(../images/facebook.png) 50% no-repeat;
					}
					&.twitter {
						background:url(../images/twitter.png) 50% no-repeat;
					}
					&.instagram {
						background:url(../images/instagram.png) 50% no-repeat;
					}
					&.linkedin {
						background:url(../images/linkedin.png) 50% no-repeat;
					}
				}
			}
		}
	}
	.map-cnt {
		position:relative;
		width:100%;
		height:600px;
		background:#000;
		overflow:hidden;
	}
	#map {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:630px;
		background:#000;
	}
	.no-location {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:999;
		background-position:50%;
		background-repeat:no-repeat;
		background-size:cover !important;

		span {
			position:absolute;
			top:50%;
			left:50%;
			width:auto;
			color: $black;
			font-family:$avenir_bold;
			font-size: 14px;
			letter-spacing: 3px;
			line-height: 50px;
			z-index:99;
			text-transform: uppercase;
			transform:translate(-50%, -50%);
		}
	}
}

.contact-section {
	padding:100px 0 200px 0;
	height:auto;
	min-height:100% !important;
	max-height:100% !important;

	.wrapper {
		z-index:2;
		position:relative;
		min-height:100% !important;
		max-height:100% !important;
	}
	.wrapper, .row {
		height:auto;
		min-height:100% !important;
		max-height:100% !important;
	}
	.title {
		color: $black;
		font-family:$avenir_bold;
		font-size: 14px;
		letter-spacing: 3px;
		line-height: 50px;
		text-transform: uppercase;
	}
	h1 {
		color: $black;
		font-family:$avenir_bold;
		font-size: 64px;
		line-height: 80px;
	}
	.gform_wrapper {
		max-width:555px;
		margin:0 auto;
	}
	.validation_error {
		padding:40px 0;
		color:$red;
		font-size:14px;
	}
	.validation_message {
		color:$red;
		font-size:14px;
		text-align:right;
	}
	label {
		color: $black;
		font-family:$avenir_bold;
		font-size: 14px;
		letter-spacing: 3px;
		line-height: 30px;
		text-transform: uppercase;
		margin:0 0 2px 0;
		text-align:left;
	}
	input[type="text"],
	input[type="email"] {
		display:inline-block;
		width:100%;
		height:60px;
		background:#fff;

		&.error {
			border:2px solid $red;
		}
		&:focus {
			background:rgba(54, 237, 255, 0.07);
			border:2px solid $blue;
		}
	}
	textarea {
		padding:10px;

		&:focus {
			border:2px solid $blue;
			background: rgba(54, 237, 255, 0.07);
		}
	}
	.select-wrap {
		display: inline-block;
    	width: 100%;
	    height: 60px;
	    line-height: 60px;
	    font-size: 24px;
	    padding: 0;
	    border-radius: 0;
	    color: #000;

	    .selectric-open {
			border: 2px solid $blue !important;

			.selectric {
				background: rgba(54, 237, 255, 0.07);
			}
	    }
	    .selectric-wrapper {
			display: inline-block;
	    	width: 100%;
		    height: 60px;
			border: 2px solid $blue;
	    }
	    .selectric {
	    	border:none;
	    	background: #fff;

	    	.label {
	    		opacity:.5;
	    		padding:0 10px;
	    	}
	    }
	    .selectric .label {
	    	text-align:left;
	    	line-height:58px;
	    	height:56px;
	    }
	    .select-arrow {
	    	display: block;
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 38px;
		    height: 58px;
		    text-align: center;
		    border:none;
	    	background:url(../images/triangle.png) 50% no-repeat;
	    	transition:.6s;

	    	&:after {
	    		display:none;
	    	}
	    }
	    .selectric-items {
	    	border:2px solid $blue;
	    	background: #fff;
	    	top:56px;
	    	left:-2px;
	    	width:calc(100% + 4px) !important;
	    }
	    .selectric-scroll {

	    	li {
	    		position:relative;
	    		text-align:left;
	    		color: $black;
				font-size: 18px;
				line-height: 30px;
				padding:5px 20px 5px 50px;
				background:rgba(54, 237, 255, 0.07);

				&.highlighted {
					background:#fff;
				}
				&:hover {
					background:#fff;
				}
				&:before {
					position:absolute;
					content:'';
					top:50%;
					left:20px;
					width:20px;
					height:20px;
					border:2px solid $blue;
					background:#fff;
					transform:translate(0, -50%);
				}
				&.selected:before {
					background:url(../images/check.png) $blue 50% no-repeat;
				}
	    	}
	    }
	    .selectric-open .select-arrow {
	    	transform:rotate(180deg);
	    }
	}
	input[type="submit"] {
		color: #ffffff;
		font-family:$avenir_bold;
		font-size: 24px;
		line-height: 50px;
		height:60px;
		text-transform:none;

		&:hover {
			color:$red;
		}
	}
}

.copyright {
	padding:40px 0;
	display:inline-block;
	width:100%;
	font-size:12px;
	font-family:$avenir;
	text-align:center;
	color:$black;
	opacity:.5;

	.builtby {
		text-decoration:none;
	}
	a {
		color:$black;
		font-family:$avenir_light;
	}
}

.dust {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;

	canvas {
		width:100% !important;
	}
}

.lightbox {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	z-index:999999;

	.close {
		position:absolute;
		top:50px;
		right:50px;
		width:35px;
		height:35px;
		background:url(../images/close.png) 50% no-repeat;
		z-index:999;
	}
	.close-link {
		display:inline-block;
		width:100%;
		text-align:center;
		color: $red;
		font-family: $avenir_bold;
		font-size: 14px;
		letter-spacing: 3px;
		line-height: 50px;
		text-transform: uppercase;
	}
	.cnt {
		position:absolute;
		top:50%;
		left:50%;
		max-width:1140px;
		width:100%;
		z-index:999;
		transform:translate(-50%, -50%);

		h2 {
			color: $black;
			font-family: $avenir_bold;
			font-size: 60px;
			line-height: 48px;
			text-align:center;
		}
		form {
			margin:60px auto 120px auto;
			max-width:960px;
			width:100%;

			input[type="text"] {
				display:inline-block;
				width:55%;
				height:80px;
				margin-right:4%;
				border-top:none;
				border-left:none;
				border-right:none;
				border-bottom:4px solid $black;
			}
			input[type="submit"] {
				display:inline-block;
				width:40%;
				height:80px;
				color:#fff;

				&:hover {
					color:$red;
				}
			}
		}
	}
}


@media only screen and (max-width: 1430px) and (min-width: 1px) {
	.location-section .location .cnt {
		right:200px;
	}
}

@media only screen and (max-width: 1280px) and (min-width: 1px) {
	#col-page .benefit h2 {
		font-size:24px;
	}
}

@media only screen and (max-width: 1240px) and (min-width: 1px) {
	.photo {
		width:100%;
	}
	#hero .photo {
		width:480px;
		height:480px;
		right:20px;
	}
	.container {
		padding-left:60px;
		padding-right:60px;
	}
	.section .content h1.indent {
		text-indent:-250px;
	}
}

@media only screen and (max-width: 1140px) and (min-width: 1px) {
	.photo {
		width:450px;
		height:450px;
		position:relative;
		top:inherit;
		transform:translate(0, 0);
	}
	#hero .photo {
		width:450px;
		height:450px;
		position:absolute;
		top:50%;
		transform: translateY(-50%) scale(1);
	}
	.section .content h1 {
		font-size:70px;
	}
	.section .content h2 {
		font-size:28px;
	}
	.section .content p {
		font-size:14px;
		line-height: 26px;
	}
	.scroll-btn {
		bottom:-40px;
	}
	#section4 .scroll-btn {
		bottom:-140px;
	}
	.location-section .location .cnt {
		right:100px;
	}
	.lightbox .cnt h2 {
		font-size:52px;
	}
}

@media only screen and (max-width: 1023px) and (min-width: 1px) {
	#col-page .col-xs-3 {
	    flex-basis: 50%;
	    max-width: 50%;
	    margin-top:0 !important;		
	}
	.benefit {
		margin-bottom:60px;
	}
}

@media only screen and (max-width: 980px) and (min-width: 1px) {
	.section .content .number {
		line-height:0;
	}
	.location-section .location .cnt {
		right:20px;
	}
	#hero .link {
		display:none;
	}
	.photo {
		width:350px;
		height:350px;
	}
	.section, .section .row, .section .wrapper {
		min-height:620px;
		max-height:620px;
	}
	.split-section:nth-child(odd) .photo {
		float:left;
	}
	.split-section:nth-child(even) .photo {
		float:right;
	}
	.lightbox .cnt h2 {
		font-size:42px;
	}
	.lightbox .cnt {
		padding:0 80px;
	}
}

@media only screen and (max-width: 880px) and (min-width: 1px) {
	.float-dot1 {
		font-size:1230px;
	}
	.sticky-nav,
	.page-view,
	.footer-nav {
		display:none;
	}
	.section .content {
		padding:0 40px;
	}
	.container {
		padding-right:40px;
		padding-left:40px;
	}
	#hero .photo {
		width:300px;
		height:300px;
	}
	.photo {
		width:300px;
		height:300px;
	}
	#hero .dot2 {
		top:480px;
	}
}

@media only screen and (max-width: 768px) and (min-width: 1px) {
	.location-section {
		height:auto;
		max-height:100%;
		min-height:100%;

		.row {
			height:auto;
			max-height:100%;
			min-height:100%;
		}
		.col-xs-6 {
			flex-basis: 50%;
		    max-width: 50%;
		    margin-top:0 !important;		
		}
	}
	.location-section .location .cnt {
		position:relative;
		top:inherit;
		right:inherit;
		transform:translate(0, 0);
		padding:40px;
	}
	.location-section .location .cnt h1 {
		margin-top:60px;
	}
	.contact-section h1 {
		font-size:52px;
	}
	.contact-section {
		padding:40px 0;
	}
	#full-page {
		display:none;
	}
	#col-page {
		display:block;
		padding:0 0 80px 0;
	}
	#hero, #hero .wrapper {
		min-height:480px;
		max-height:480px;
	}
	#hero .cnt h1 {
		font-size: 64px;
		line-height: 80px;
	}
	#hero .cnt p {
		font-size: 20px;
		line-height:32px;
	}
	#hero .hero-scroll {
		bottom:0;
	}
	#hero .hero-scroll,
	#hero .hero-scroll .ring1,
	#hero .hero-scroll .ring2,
	#hero .hero-scroll .ring3,
	#hero .hero-scroll .ring4,
	#hero .hero-scroll .ring5,
	#hero .hero-scroll .arrow {
		width:100px;
		height:100px;
		background-size:100%;
	}
	#hero .photo {
		display:none;
	}
	.float-dot1,
	.float-dot2 {
		display:none;
	}
	.benefit {
		margin-bottom:40px;
	}
	#hero .dot1 {
		width:80px;
		height:80px;
		border-radius:80px;
		top:350px;
	}
	#hero .dot2 {
		width:40px;
		height:40px;
		border-radius:40px;
		background:$blue;
		top:115px;
		left:130px;
	}
	#hero .dot3 {
		width:20px;
		height:20px;
		border-radius:20px;
	}
	#hero .dot4 {
		display:block;
	}
	.right-gray {
		top:-200px;
	}
	.left-gray {
		top:-200px;
	}
}

@media only screen and (max-width: 680px) and (min-width: 1px) {
	.location-section .col-xs-6 {
		flex-basis: 100%;
		max-width: 100%;
		margin-bottom:0 !important;
	}
	.location-section .location .cnt h1 {
		font-size:36px;
	}
	.location-section .location .cnt {
		padding:40px 80px;
	}
	.contact-section h1 {
		font-size:36px;
		line-height:48px;
	}
	.container {
		padding-left:20px;
		padding-right:20px;
	}
	.location-section .map-cnt {
		height:400px;
	}
	.location-section #map {
		height:430px;
	}
	.location-section .no-location span {
		width:100%;
		text-align:center;
	}
	.lightbox .cnt {
		padding:0 40px;
	}
	.lightbox .close {
		top:20px;
		right:20px;
	}
	.lightbox .cnt form input[type=text] {
		width:100%;
		margin-right:0;
	}
	.lightbox .cnt form input[type=submit] {
		width:100%;
		margin-top:20px;
	}
	.lightbox .cnt form {
		margin:20px auto;
	}
}

@media only screen and (max-width: 580px) and (min-width: 1px) {
	#col-page .col-xs-3 {
		flex-basis: 100%;
	    max-width: 100%;		
	}
}

@media only screen and (max-width: 480px) and (min-width: 1px) {
	.location-section .location .cnt {
		padding:40px;
	}
	#hero .dot1 {
		left:-40px;
	}
	#hero .dot3 {
		top:310px;
	}
	#col-page .benefit h2 {
		text-align:center;
	}
	.container {
		padding-left:60px;
		padding-right:60px;
	}
	#col-page .benefit .thumb {
		height:200px;
		box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
	}
	.lightbox .cnt h2 {
		font-size:32px;
		line-height:48px;
	}
}

@media only screen and (max-width: 380px) and (min-width: 1px) {
	#hero .dot4 {
		right:40px;
	}
	#hero .dot2 {
		width:10px;
		height:10px;
		border-radius:10px;
	}
	.container {
		padding-right:40px;
		padding-left:40px;
	}
	.form-btn {
		font-size:14px;
		padding:0 15px;
	}
	#col-page .benefit h2 {
		font-size:26px;
	}
	.lightbox .cnt h2 {
		font-size:24px;
		line-height:38px;
	}
	.lightbox .cnt {
		padding:0 20px;
	}
}
